
body {
  margin: 5vh 5vw 5vh 8vw;
  background-image: url("KM_C451i26013115271.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: min(100vw, 100vh) min(100vw, 100vh);
}

/*center class for images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

h1 {
  text-align: center;
  color:rgb(0, 0, 0);
}

.bottom-quarter {
     margin-bottom: 25vh;
  }

/*colomuns*/

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*mark properties*/
mark {
  background-color: white;
  color: black;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}