
body {
  margin: 55vh 5vw 10vh 5vw;
  background-image: url("KM_C451i26013115271.jpg");
  background-repeat:repeat-x;
  background-attachment: fixed;
  background-size: 50vh 50vh;
}

/*center class for images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

/*colomuns*/

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*mark properties*/
mark {
  background-color: white;
  color: black;
}