
body {
  margin: 5vh 5vw 5vh 5vw;
  background-image: url("KM_C451i26013115271.jpg");
  background-repeat:repeat-x;
  background-attachment: fixed;
  background-size: 50vh 50vh;
}

/*center class for images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

h1 {
  text-align: center;
  color:rgb(0, 0, 0)
}

.bottom-thirty {
     margin-bottom: 35vh;
  }

/*colomuns*/

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*mark properties*/
mark {
  background-color: white;
  color: black;
}