
body {
  margin: 10vh 10vw 10vh 55vw;
  background-image: url("KM_C451i26013115271.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50vw 50vw;
}

/*center class for images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

/*colomuns*/

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*mark properties*/
mark {
  background-color: white;
  color: black;
}